<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>{{ post.title }}</title>
    </head>

    <body>
        <h1>{{ post.title }}</h1>
        

        </br>
        
            
            <p> {{post.message}} </p>
                        
                <a href="{% url 'delete' post.pk %}">
                     <button type="button" class="buttonDelete">
                          Delete
                     </button>
                </a>
                <a href="{% url 'edit' post.pk %}">
                     <button type="button" class="buttonEdit">
                          Edit
                     </button>
                </a>
            
            </br>        
        
    
    </body>
</html>